body{
	background-color: rgb(190, 190, 190);
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 30px;
}
#juego{
	position: relative;
	margin: auto;
	margin-top: 10%;
	height:600px; 
	width:600px;
	clear: both;
}
.pieza{
	position: absolute;
	background-position: center center;
	height: 200px;
	width:200px;
	background-size: 100%;
}
.angry-boy{
	background-repeat: no-repeat;
	background-size: cover;
	clear: both;
	background-image: url(../piezas/enfadado.png);
	height: 63.25%;
	width: 37.5%;
	margin: 15% auto;
}
.texto{
	text-align: center;
	width: 70%;
	height: 30%;
	margin: 2.5% auto;
}
.boom{
	overflow: hidden;
	margin: auto;
	background-image: url(../piezas/boom.png);
	height: 475px;
	width: 600px;
	background-size: cover;
	background-repeat: no-repeat;
}
.objetivo-0{ 
	font-size:35px; 
	text-align: left;
	color: red;
	text-transform: uppercase;
	margin-top: 2rem;
}
.objetivo{
	margin: 0 0 0 10rem;
}
